/* Josh W. Comeau's Modern CSS Reset */

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}
  
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}
  
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

#root, #__next {
    isolation: isolate;
}

/* Reset end - Thanks John! */

:root {
    font-size: 10px;

    --small-icon-width: 25px;

    --sidebar-template-columns: 50px 1fr;
    --sidebar-control-padding: 25px;
    --sidebar-font-size: 2.4rem;
    --sidebar-control-rows: repeat(6, 50px);

    --header-padding: 10px 125px;
}

body {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 4fr;
    font-family: "Roboto", sans-serif;
}

img {
    border-radius: 50%;
}

.small-icon {
    max-width: var(--small-icon-width);
}

/* Sidebar styling */

.sidebar {
    background-color: dodgerblue;
    grid-column: 1;
    grid-row: 1 / -1;

    color: white;
    font-size: var(--sidebar-font-size);
    font-weight: bold;

    display: grid;
    grid-template-rows: 1fr 4fr 4fr 8fr;
    gap: 20px;
}

.dashboard-title,
.sidebar-controls {
    padding-top: var(--sidebar-control-padding);
    padding-left: calc(var(--sidebar-control-padding) + 10px);
}

.dashboard-title {
    display: grid;
    grid-template-columns: var(--sidebar-template-columns);
}

.sidebar-controls {
    display: grid;
}

.sidebar-controls.controls-one {
    display: grid;
    grid-template-rows: var(--sidebar-control-rows);
}

.sidebar-controls.controls-two {    
    display: grid;
    grid-template-rows: var(--sidebar-control-rows);
}

.sidebar-control {
    display: grid;
    grid-template-columns: var(--sidebar-template-columns);
}

.sidebar-control:hover {
    cursor: pointer;
}

.sidebar-control-icon {
    position: relative;
    top: 5px;
    fill: white;
}

.dashboard-icon {
    position: relative;
    bottom: 10px;
    left: -10px;
    fill: white;
}

/* Header styling */

.header {
    background-color: whitesmoke;
    grid-column: 2;
    grid-row: 1;

    display: grid;
    grid-template-columns: 4fr 3fr;
    grid-template-rows: 6fr 8fr;

    padding: var(--header-padding);
}

.header-search-bar-container {
    grid-column: 1;
    grid-row: 1;

    display: grid;
    grid-template-columns: 0.1fr 1fr;
    align-items: center;
}

.header-search-bar-container input[type="search"] {
    align-self: center;
    width: 100%;
    background-color: lightgray;

    padding: 4px 16px;
    font-size: 1.4rem;
    border: 0;
    border-radius: 15px;
}

.header-search-icon {
    justify-self: center;
}

.header-small-user-bar {

    display: grid;
    grid-template-columns: 1fr 75px 75px 150px;
    place-items: center;
}

.header-bell-icon {
    grid-column: 2;
}

.header-small-user-image {
    max-width: 50px;
}

.header-user-name-small {
    font-weight: bold;
    font-size: 2rem;
}

.header-main-user-bar {
    display: grid;
    grid-template-columns: 1fr 7fr;
    align-items: center;
}

.header-main-user-image {
    grid-column: 1;
    max-width: 75px;
}

.header-user-titles {
    grid-column: 2;

    display: grid;
    grid-template-rows: 1fr 1fr;
}

.user-title-small {
    align-self: end;

    font-weight: bold;
    font-size: 1.6rem;
}

.user-title-main {
    align-self: start;

    font-weight: bold;
    font-size: 2.4rem;
}

.header-user-controls {
    display: grid;
    justify-content: end;
    align-content: center;
    gap: 48px;
}

.user-controls-button {
    background-color: dodgerblue;
    font-weight: bold;
    color: white;
    font-size: 1.6rem;
    border: 0;
    border-radius: 25px;
    padding: 8px 32px;

    grid-row: 1;
}

/* Main content styling */

.main-content {
    grid-column: 2;
    grid-row: 2;
    background-color: lightgray;
}