@font-face {
    font-family: "BM Space";
    src:
        url("fonts/bmspa-webfont.woff") format("woff"),
        url("fonts/bmspa-webfont.woff2") format("woff2");
    
    font-style: normal;
    font-weight: normal;
}

/* Josh W. Comeau's Modern CSS Reset */

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html {
}

body {
    color: #0a0a0a;
    background-color: lightgray;

    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}
  
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

#root, #__next {
    isolation: isolate;
}

/* Reset end - Thanks John! */

:root {
    font-size: 10px;

    --small-icon-width: 25px;
    --standard-box-shadow: 0px 4px 4px #c1c1c1;

    --sidebar-template-columns: 50px 1fr;
    --sidebar-control-padding: 25px;
    --sidebar-font-size: 2.4rem;
    --sidebar-control-rows: repeat(6, 50px);

    --header-padding: 15px 75px;

    /* Color palette */
    --white: #fcfeff;
    --black: #0D0D0D;
    --light-gray: #F2F2F2;
    --gray: #757575;
    --dark-gray: #404040;

    --light-blue: #13C9F2;
    --main-blue: #0fb1f5;
    --dark-blue: #03178C;
    --dark-blue-two: #080c2f;
    --dark-blue-three: #010326;
    --main-orange: #FC8E0F;
    --main-red: #D60000;

    /* Font weights */
    --bold-font-weight: 600;
    --light-bold-font-weight: 500;
    --medium-font-weight: 400;
    --light-font-weight: 300;

    /* Animations & transitions */
    --transition-duration: 100ms all;
}

body {
    height: 100vh;

    display: grid;
    grid-template-columns: minmax(300px, 350px) auto;
    grid-template-rows: 1fr 4fr;
    font-family: "Lexend", sans-serif;
}

img {
    transition: var(--transition-duration);

    user-select: none;
   -webkit-user-select: none;
   -webkit-user-drag: none;
    border-radius: 50%;
}

img:hover {
    transition: var(--transition-duration);
    transform: scale(1.1) rotate(-8deg);
}

.small-icon {
    width: var(--small-icon-width);
}

.medium-icon {
    width: var(--medium-icon-width);
}

::selection {
    background-color: var(--main-blue);
    color: white;
}

/* Sidebar styling */

.sidebar {
    background-color: var(--main-blue);
    color: var(--white);
    font-size: var(--sidebar-font-size);
    font-weight: var(--light-bold-font-weight);

    grid-column: 1;
    grid-row: 1 / -1;

    display: grid;
    grid-template-rows: 1fr 4fr 4fr 8fr;
    gap: 20px;
}

.dashboard-title,
.sidebar-controls {
    padding-top: var(--sidebar-control-padding);
    padding-left: calc(var(--sidebar-control-padding) + 10px);
}

.dashboard-title {
    display: grid;
    /* background-color: var(--dark-blue-three); */
    grid-template-columns: var(--sidebar-template-columns);
    font-family: "BM Space";
    font-size: calc(var(--sidebar-font-size) + 0.6rem);
    padding-bottom: 16px;
}

.sidebar-controls {
    display: grid;
}

.sidebar-controls.controls-one {
    display: grid;
    grid-template-rows: var(--sidebar-control-rows);
}

.sidebar-controls.controls-two {    
    display: grid;
    grid-template-rows: var(--sidebar-control-rows);
}

.sidebar-control {
    transition: 0ms all;


    display: grid;
    grid-template-columns: var(--sidebar-template-columns);
}

.sidebar-control:hover {
    color: var(--white);
    background-color: var(--dark-blue-three);
    transition: 0ms all;

    cursor: pointer;
    position: relative;
}

.sidebar-control:hover::before {
    background-color: var(--dark-blue-three);
    transition: 0ms all;

    content: " ";
    width: 50px;
    height: 50px;
    position: absolute;
    left: -50px;
}

.sidebar-control:hover .sidebar-control-icon {
    transition: var(--transition-duration);
    transform: scale(1.25);
    top: 10px;

    fill: var(--white);
}

.sidebar-control:hover .sidebar-button {
    transition: var(--transition-duration);
    letter-spacing: 2px;
}

.sidebar-control-icon {
    fill: var(--white);
    position: relative;
    top: 8px;
}

.dashboard-icon {
    fill: var(--white);

    position: relative;
    bottom: 10px;
    left: -10px;
}

/* Header styling */

.header {
    background-color: var(--light-gray);
    padding: var(--header-padding);
    box-shadow: var(--standard-box-shadow);

    z-index: 1;
    grid-column: 2;
    grid-row: 1;

    display: grid;
    grid-template-columns: 4fr 3fr;
    grid-template-rows: 6fr 8fr;
    gap: 10px;
}

.header-search-bar-container {
    grid-column: 1;
    grid-row: 1;

    display: grid;
    grid-template-columns: 0.1fr 1fr;
    align-items: center;
}

.header-search-bar-container input[type="search"] {
    align-self: center;
    width: 100%;
    background-color: lightgray;

    padding: 4px 16px;
    font-size: 1.4rem;
    border: 0;
    border-radius: 15px;
}

.header-search-icon {
    justify-self: center;
    transition: var(--transition-duration);
}

.header-search-icon:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: var(--transition-duration);
}

.header-small-user-info {
    display: grid;
    grid-template-columns: 1fr 75px 75px 150px;
    place-items: center;
}

.header-bell-icon {
    grid-column: 2;
    transition: var(--transition-duration);
}

.header-bell-icon:hover {
    cursor: pointer;
    transform: scale(1.1) rotate(8deg);
    transition: var(--transition-duration);
}

.small-user-image {
    max-width: 50px;
}

.header-user-name-small {
    font-weight: var(--light-bold-font-weight);
    font-size: 2rem;
}

.header-main-user-info {
    display: grid;
    grid-template-columns: 100px 300px;
    align-items: center;
}

.header-main-user-image {
    grid-column: 1;
    max-width: 75px;
}

.header-user-titles {
    grid-column: 2;

    display: grid;
    grid-template-rows: 1fr 1fr;
}

.user-title-small {
    font-weight: var(--medium-font-weight);

    align-self: end;
    font-size: 1.6rem;
}

.user-title-main {
    font-weight: var(--light-bold-font-weight);

    align-self: start;
    font-size: 2.4rem;
}

.header-user-controls {
    display: grid;
    justify-content: end;
    align-content: center;
    gap: 32px;
}

.user-controls-button {
    background-color: var(--main-blue);
    color: var(--white);
    font-weight: var(--light-bold-font-weight);
    transition: var(--transition-duration);

    font-size: 1.6rem;
    border: 0;
    border-radius: 25px;
    padding: 8px 32px;

    grid-row: 1;
}

.user-controls-button:hover {
    background-color: var(--light-blue);
    transition: var(--transition-duration);
    cursor: pointer;
}

.user-controls-button:active {
    background-color: var(--dark-blue-two);
}

/* Main content styling */

/* fix */
.main-content {
    padding: 20px 50px 50px 25px;
    grid-column: 2;
    grid-row: 2;

    display: grid;
    grid-template-columns: 3fr 375px;
    grid-template-rows: 40px 375px 40px 375px;

    overflow: scroll;
}

/* Main content headers styling */

h2 {
    font-weight: var(--bold-font-weight);
    font-size: 2rem;
}

.projects-header {
    grid-row: 1 / 2;
}

.announcements-header {
    grid-row: 1 / 2;
    grid-column: 2;
}

.trending-header {
    grid-row: 3;
    grid-column: 2;
}

/* Card container styling */

.card-container {
    grid-row: 2 / -1;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 25px;
    margin-right: 25px;
}

.card {
    padding: 20px;
    background-color: var(--white);
    border-radius: 8px;
    box-shadow: var(--standard-box-shadow);
}

.project-card {
    border-left: 8px solid var(--main-orange);
    max-height: 225px;

    display: grid;
    grid-template-rows: 50px 100px auto;
    transition: var(--transition-duration);
}

.project-card:hover {
    border-left: 8px solid var(--main-red);
    transform: rotate(1deg);
}

.card-title {
    font-weight: var(--light-bold-font-weight);
    font-size: 2.4rem;
}

.card-info {
    font-weight: var(--light-font-weight);
    color: gray;
    font-size: 1.6rem;
}

.card-icons {
    display: grid;
    grid-template-columns: 6fr 1fr 1fr 1fr;
    align-items: center;
    gap: 25px;
}

.card-icon:nth-child(1) {
    grid-column: 2;
}

.card-icon {
    fill: var(--dark-gray);
}

.card-icon:hover {
    transition: var(--transition-duration);

    fill: var(--main-orange);
    cursor: pointer;
    transform: scale(0.9);
}

.card-icon:active {
    fill: var(--main-red);
}

/* Announcements card styling */

.announcements-card {
    margin-bottom: 25px;

    display: grid;
    grid-template-rows: auto 25px auto 25px auto;

    justify-items: center;
    justify-content: center;
}

.announcement-title {
    font-weight: var(--light-bold-font-weight);
    font-size: 1.6rem;
}

.announcement-info {
    color: var(--gray);
    font-weight: var(--light-font-weight);
    font-size: 1.2rem;
}

hr {
    margin-top: 12px;
    border: 0;
    border-top: 1px solid lightgray;
    width: 100%;
}

.announcement-section {
    padding: 12px;
}

/* Trending card styling */

.trending-card {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;
}

.trending-user-container {
    display: grid;
    grid-template-columns: 50px 1fr;
    gap: 25px;
}

/* .trending-user-container .small-user-image {
}

.trending-user-titles {
} */

.trending-user-title {
    font-weight: var(--light-bold-font-weight);
    font-size: 1.8rem;
}

.trending-user-subtitle {
    font-weight: var(--light-font-weight);

    font-size: 1.6rem;
    color: gray;
}