/* Josh W. Comeau's Modern CSS Reset */

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}
  
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}
  
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

#root, #__next {
    isolation: isolate;
}

/* Reset end - Thanks John! */

/* :root {} */

body {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
}

.sidebar {
    background-color: crimson;
    grid-column: 1;
    grid-row: 1 / -1;
}

.header {
    background-color: whitesmoke;
    grid-column: 2;
    grid-row: 1;
}

.main-content {
    grid-column: 2;
    grid-row: 2;
    background-color: lightgray;
}